name: Identities

permissions:
  contents: read
  pull-requests: write
  actions: write

on: [pull_request, issue_comment]

jobs:
  check-signature:
    runs-on: ubuntu-latest
    steps:
      - uses: multiversx/mx-assets-checker@main
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          TEST: 'hello world'


