name: Identities

permissions:
  contents: read
  pull-requests: write

on: [pull_request, issue_comment]

jobs:
  check-signature:
    runs-on: ubuntu-latest
    steps:
      - uses: multiversx/mx-assets-checker@init
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


